.carousel-container { 
    margin-top: 0px;
    height: 90vh;
}

.carousel-container .slide {
    max-height: 85vh;
    min-height: 45vh;
}

.landing-page-card {
    position: relative;
    background-color: #7FC7D9;
    width:100%;
    padding:1.5rem;
    backdrop-filter: blur(10px);
    background-image: url('CI4.jpg');
    background-size: cover;
    background-position: bottom;
    height: 60vH;
}

.page-card {
    position: relative;
    background-color: #DCF2F1;
    width:100%;
    padding:1.5rem;
    box-shadow:0 0px 5px rgba(0,0,0.3,0.5);
    backdrop-filter: blur(10px);
    height: 30vH;
}

.page-body {
    position: relative;
    background-color: #0F1035;
    width:100%;
    padding:1.5rem;
    box-shadow:0 0px 5px rgba(0,0,0.3,0.5);
    backdrop-filter: blur(10px);
    height: 50vH;
}