.login-background {
    max-width: 95%;
    min-width: 95%;
    max-height: 85vh;
    min-height: 85vh;
    margin: auto;
    margin-top: 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(15, 16, 53, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background-image: url('curved14.jpg');
    background-size: cover;
    background-position: center;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0, 0, 0, 0.9);
}

.login-card {
    position: relative;
    width:450px;
    padding:1.5rem;
    margin:5% auto;
    border-radius:10px;
    box-shadow:0 20px 35px rgba(0,0,1,0.9);
    backdrop-filter: blur(10px);
}

.card-content {
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    color: #0F1035;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #0F1035;
    border-radius: 5px;
    outline: none;
}

.input-group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #777;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label, .input-group input:valid + label {
    top: -10px;
    font-size: 12px;
    color: #333;
}

.btn-primary {
    background-color: #7FC7D9;
    color: #0F1035;
    border: 1px solid #0F1035;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-family: "Amazon Ember",sans-serif;
    font-size: 16px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 125px;
    height: 45px;
}

.btn-primary:hover {
    background-color: #365486;
    color: #DCF2F1;
    text-decoration: none;
}