.grid-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-image: linear-gradient(to top, rgba(15, 16, 53, 0.3), rgba(127, 199, 217, 0.6)); /* Increased opacity */
  border-radius: 0.8rem;
  border: 2px solid #ccc; /* Dark grey */
  cursor: pointer;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadows for 3D effect */
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.grid-container:hover {
  border: 3px solid #365486;
  transition: all 0.1s;
}

.name-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 0.8rem;
}

.grid-course_name {
  margin: 0;
  font-weight: bold; /* Make course name bold */
  color: #0f1035;;
  font-size: 3rem; /* Increase font size */
}

.grid-course_description {
  color: #365486; /* Medium grey */
  font-size: 1rem;
}

.grid-course_instructor {
  color: #365486; /* Light grey */
  font-size: 1rem;
}

.grid-course_price {
  color: #dcf2f1; /* Green */
  font-size: 1rem;
  font-weight: bold; /* Make price bold */
}
