.assesments {
  position: relative;
  width:50%;
  padding:2.5rem;
}

.assesments-list-row {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    margin-right: 5%;
    grid-template-columns: 80% 1fr;
    gap: 8px;
  }

  .assesments-list-row:hover {
    border-bottom: 2px solid var(--white);
    transition: all 0.1s;
  }

  .assessment-title {
    margin: 0;
    font-weight: bold; /* Make course name bold */
    color: var(--gray);
    font-size: 3rem; /* Increase font size */
  }