.list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Vertically center items */
    gap: 1rem;
    background-image: linear-gradient(to top, rgba(15, 16, 53, 0.1), rgba(127, 199, 217, 0.1)); /* Increased opacity */
    border-radius: 0.8rem;
    border: 2px solid rgba(15, 16, 53, 0.2); /* Dark grey */
    padding: 1rem;
    margin-right: 10%;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: all 0.3s ease; /* Smooth transition */
}

.list-row:hover {
    transform: translateY(-3px); /* Lift on hover */
    border: 2px solid rgba(15, 16, 53);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
}

.list-row .list-name-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.list-row .course_name {
    margin: 0;
    font-weight: bold; /* Make course name bold */
    color: #0f1035;
    font-size: 1.5rem; /* Adjust font size */
}

.list-row .course_description,
.list-row .course_instructor {
    color: #365486; /* Medium grey */
    font-size: 1rem;
}

.list-row .course_price {
    color: #7fc7d9; /* Green */
    font-size: 1rem;
    font-weight: bold; /* Make price bold */
}

table {
    margin-left: 5%;
    width: 100%;
}