  .list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    margin-right: 10%;
  }

  .list-row:hover {
    border-bottom: 2px solid var(--white);
    transition: all 0.1s;
  }
  
  .name-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .course_name {
    margin: 0;
    font-weight: bold; /* Make course name bold */
    color: var(--gray);
    font-size: 3rem; /* Increase font size */
  }
  
  .course_description {
    color: #666; /* Medium grey */
    font-size: 1rem;
  }
  
  .course_instructor {
    color: #999; /* Light grey */
    font-size: 1rem;
  }
  
  .course_price {
    color: #4CAF50; /* Green */
    font-size: 1rem;
    font-weight: bold; /* Make price bold */
  }

  table {
    margin-left: 5%;
    width: 100%;
  }