.profile-details {
    position: relative;
    width:100%;
    padding:2.5rem;
}

.profile-details-info {
    position: relative;
    width:100%;
    padding:2.5rem;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 8px;
}

.profile-details-info Strong{
    font-weight: bold;
}