.video-player {
  padding: 10px;
  width: 100%; /* Width of 100% to fit the container */
  height: auto; /* Maintain aspect ratio */
}

.course-media {
  padding: 10px;
  width: 50%; /* Adjust as needed */
}