.search-flex {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #7fc7d9;
    padding: 1.5rem 3rem;
  }

  .search-body {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcf2f1;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
  }
  
  .search-input {
    background-color: #0F1035;
    color: #0F1035;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    border: none;
    width: 100%;
  }
  
  .search-input:focus {
    outline: none;
  }

  input::placeholder{
    color: #0F1035;
  }