.sidebar_container-left {
    position: fixed;
    top: 12%;
    left: 0;
    width: 20%;
    height: 100vh; /* Set the height to fill the viewport */
    overflow-y: auto; /* Allow vertical scrolling */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1; 
}

.sidebar_container-right {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    position: relative;
    top: 0;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar ul {
    position: sticky;
    list-style-type: none; /* Remove bullet points */
}

.sidebar li {
    margin-bottom: 15%; /* Add some spacing between list items */
}

.sidebar a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    margin: 1rem;
}

.sidebar a:hover {
    color: #478aff;
}

.sidebar .active {
    background-color: #365486; /* Highlight background color */
    color: #dcf2f1; /* Highlight text color */
    font-weight: bold;
}

.content {
    flex: 1; /* Let the content fill remaining space */
    padding: 20px;
    width: 100%;
    margin-top: -7%;
}
